:root {
    --el-color-primary: #22262b !important;
    --el-color-primary-light-3: #fdca20 !important;
    --color-main: #fdca20;
    --color-main-dark: #22262b;
    --color-main-light: #cfc7b5;
 
    --color-bg-block: #ffffff;
    --color-text-main: #22242c;
    --color-text-second: #5d5d62;

    --color-primary-dark: #fac000;
    --color-bg: #f7f6f3;
    --color-bg-light: #f4f1eb;
    
    --gray-50: #F7FAFC;
    --gray-100: #EDF2F7;
    --gray-200: #E2E8F0;
    --gray-300: #CBD5E0;
    --gray-400: #A0AEC0;
    --gray-500: #718096;
    --gray-600: #4A5568;
    --gray-700: #2D3748;
    --gray-800: #1A202C;
    --gray-900: #171923; 

    --color-red: #dc2c3d;
    --color-red-light: #e24a59;
    --color-green: #4bb34b;
    --color-green-light: #6ec26e;
    --color-white: #ffffff;
    --color-dark: #1a1a1a;
    --color-gray: #eeeeee;
    --color-orange: #fc8355;
    --color-orange-dark: #ff7843;
    --color-dark-gray: #8f8f8f;
    --color-dark-opacity: rgba(0, 0, 0, 0.7);
    --color-warning: #E6A23C;
}

$box-shadow: 1px 2px 6px rgba($color: #000000, $alpha: .1);
